<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.2/css/bootstrap.min.css" integrity="sha512-b2QcS5SsA8tZodcDtGRELiGv5SaKSk1vDHDaQRda0htPYWZ6046lr3kJ5bAAQdpV2mmA/4v0wQF9MyU6/pDIAg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Citas</title>
</head>
<body>
    <h1>Lista de Citas</h1>
    <br>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Fecha</th>
                <th>Paciente</th>
                <th>Medico</th>
                <th>Consultorio</th>
                <th>Valor</th>
            </tr>
        </thead>
        <tbody>
            {% for cita in citas %}
                <tr>
                    <td>{{ cita.fecha }}</td>
                    <td>{{ cita.paciente.nombre }} {{cita.paciente.apellidos}}</td>
                    <td>{{ cita.medico.nombre }} {{ cita.medico.apellidos }} - {{ cita.medico.registro_medico }}</td>
                    <td>{{ cita.consultorio.numero }}</td>
                    <td>{{ "{:,}".format(cita.valor) }}</td>
                </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <td><a href="/pacientes">Pacientes</a></td>
                <td><a href="/consultorios">Consultorios</a></td>
                <td><a href="/medicos">Medicos</a></td>
            </tr>
        </tfoot>
    </table>
</body>
</html>