{% extends "base.html" %}
{% block titulo %} Citas {% endblock %}
{% block contenido %}
<h1>Lista de Citas</h1>
<br>
<table class="table table-hover">
    <thead>
        <tr>
            <th>Fecha</th>
            <th>Paciente</th>
            <th>Medico</th>
            <th>Consultorio</th>
            <th>Valor</th>
        </tr>
    </thead>
    <tbody>
        {% for cita in citas %}
            <tr>
                <td>{{ cita.fecha }}</td>
                <td>{{ cita.paciente.nombre }} {{cita.paciente.apellidos}}</td>
                <td>{{ cita.medico.nombre }} {{ cita.medico.apellidos }} - {{ cita.medico.registro_medico }}</td>
                <td>{{ cita.consultorio.numero }}</td>
                <td>{{ "{:,}".format(cita.valor) }}</td>
            </tr>
        {% endfor %}
    </tbody>
    <tfoot>
        <tr>
            <td><a href="/pacientes">Pacientes</a></td>
            <td><a href="/consultorios">Consultorios</a></td>
            <td><a href="/medicos">Medicos</a></td>
        </tr>
    </tfoot>
</table>
{% endblock %}