{% extends "base.html" %}
{% block titulo %} Consultorios {% endblock %}
{% block contenido %}
<h1>Lista de Medicos</h1>
<table class="table table-hover">
    <thead>
        <tr>
            <th>Numero</th>
            <th>Ver Detalles</th>
        </tr>
    </thead>
    <tbody>
        {% for consultorio in consultorios %}
            <tr>
                <td>{{ consultorio.numero }}</td>
                <td><a href="/consultorios/{{ consultorio.id }}">Ver Detalles</a></td>
            </tr>
        {% endfor %}
    </tbody>
    <tfoot>
        <tr>
            <td><a href="/pacientes">Pacientes</a></td>
            <td><a href="/medicos">Medicos</a></td>
            <td><a href="/citas">Citas</a></td>
            <td><a href="/consultorios/create" target="_blank">Nuevo Consultorio</a></td>
        </tr>
    </tfoot>
</table>
{% endblock %}