{% extends "base.html" %}
{% block titulo %} Medico - {{ medico.id }} {% endblock %}
{% block contenido %}
<h1>Detalle de medico</h1>
<ul>
    <li> Id: {{ medico.id }}</li>
    <li> Nombre: {{ medico.nombre }}</li>
    <li> Apellido: {{ medico.apellidos }}</li>
    <li> Tipo de Identificacion: {{ medico.tipo_identificacion }}</li>
    <li> Numero de Identificacion: {{ medico.numero_identificacion }}</li>
    <li> Registro medico: {{ medico.registro_medico }}</li>
    <li> Especializacion: {{ medico.especialidad }}</li>
</ul>
{% endblock %}