{% extends "base.html" %}
{% block titulo %} Medicos {% endblock %}
{% block contenido %}
<h1>Lista de Medicos</h1>
<table class="table table-hover">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Tipo Documento</th>
            <th>Numero Documento</th>
            <th>Registro Medico</th>
            <th>Especialidad</th>
            <th>Ver Detalles</th>
        </tr>
    </thead>
    <tbody>
        {% for medico in medicos %}
            <tr>
                <td>{{ medico.nombre }}</td>
                <td>{{ medico.apellidos }}</td>
                <td>{{ medico.tipo_identificacion }}</td>
                <td>{{ medico.numero_identificacion }}</td>
                <td>{{ medico.registro_medico }}</td>
                <td>{{ medico.especialidad }}</td>
                <td><a href="/medicos/{{ medico.id }}">Ver Detalles</a></td>
            </tr>
        {% endfor %}
    </tbody>
    <tfoot>
        <tr>
            <td><a href="/pacientes">Pacientes</a></td>
            <td><a href="/consultorios">Consultorios</a></td>
            <td><a href="/citas">Citas</a></td>
            <td><a href="/medicos/create" target="_blank">Nuevo Medico</a></td>
        </tr>
    </tfoot>
</table>
{% endblock %}