<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.2/css/bootstrap.min.css" integrity="sha512-b2QcS5SsA8tZodcDtGRELiGv5SaKSk1vDHDaQRda0htPYWZ6046lr3kJ5bAAQdpV2mmA/4v0wQF9MyU6/pDIAg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Medicos</title>
</head>
<body>
    <h1>Lista de Medicos</h1>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Tipo Documento</th>
                <th>Numero Documento</th>
                <th>Registro Medico</th>
                <th>Especialidad</th>
                <th>Ver Detalles</th>
            </tr>
        </thead>
        <tbody>
            {% for medico in medicos %}
                <tr>
                    <td>{{ medico.nombre }}</td>
                    <td>{{ medico.apellidos }}</td>
                    <td>{{ medico.tipo_identificacion }}</td>
                    <td>{{ medico.numero_identificacion }}</td>
                    <td>{{ medico.registro_medico }}</td>
                    <td>{{ medico.especialidad }}</td>
                    <td><a href="/medicos/{{ medico.id }}">Ver Detalles</a></td>
                </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <td><a href="/pacientes">Pacientes</a></td>
                <td><a href="/consultorios">Consultorios</a></td>
                <td><a href="/citas">Citas</a></td>
            </tr>
        </tfoot>
    </table>
</body>
</html>