{% extends "base.html" %}
{% block titulo %} Nuevo Medico {% endblock %}
{% block contenido %}
<section class="container">
    <header>Actualizar Medico</header>
    <form action="/medicos/update/{{medico_update.id }}" method="post" class="form">
        <section class="column">
            <article class="input-box">
                <label>Nombre</label>
                <input type="text" name="nombre" value="{{ medico_update.nombre }}">
            </article>
            <article class="input-box">
                <label>Apellido</label>
                <input type="text" name="apellido" value="{{ medico_update.apellidos }}">
            </article>
        </section>
        <article class="ti-box">
            <h3>Tipo de Documento:</h3>
            <article class="ti-option">
                {% for t in ti %}
                <div class="ti">
                    {% if medico_update.tipo_identificacion.lower() == t.lower() %}
                        <input type="radio" id="check-{{ t }}" value="{{ t }}" name="ti" checked>
                    {% else %}
                        <input type="radio" id="check-{{ t }}" value="{{ t }}" name="ti">
                    {% endif %}
                    <label for="check-{{ t }}">{{ t }}</label>
                </div>
                {% endfor %}
            </article>
        </article>
        <article class="input-box">
            <label>Numero Identificacion</label>
            <input type="text" name="ni"value="{{ medico_update.numero_identificacion }}">
        </article>
        <section class="column">
            <article class="input-box">
                <label>Registro Medico</label>
                <input type="text" name="rm" value="{{ medico_update.registro_medico }}">
            </article>
            <article class="es-box">
                <label>Especialidad</label>
                <select name="es">
                    <option hidden>{{ medico_update.especialidad }}</option>
                    {% for es in especialidades %}
                        <option value="{{ es }}"> {{ es }}</option>
                        {% endfor %}
                </select>
            </article>
        </section>
        <button>Actualizar</button>
    </form>
</section>
{% endblock %}