{% extends "base.html" %}
{% block titulo %} Pacientes {% endblock %}
{% block contenido %}
<h1>Lista de Pacientes</h1>
<table class="table table-hover">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Tipo Documento</th>
            <th>Numero Documento</th>
            <th>Altura</th>
            <th>Tipo de Sangre</th>
            <th>Ver Detalles</th>
        </tr>
    </thead>
    <tbody>
        {% for paciente in pacientes %}
            <tr>
                <td>{{ paciente.nombre }}</td>
                <td>{{ paciente.apellidos }}</td>
                <td>{{ paciente.tipo_identificacion }}</td>
                <td>{{ paciente.numero_identificacion }}</td>
                <td>{{ paciente.altura }}</td>
                <td>{{ paciente.tipo_sangre }}</td>
                <td><a href="/pacientes/{{ paciente.id }}">Ver Detalles</a></td>
            </tr>
        {% endfor %}
    </tbody>
    <tfoot>
        <tr>
            <td><a href="/medicos">Medicos</a></td>
            <td><a href="/consultorios">Consultorios</a></td>
            <td><a href="/citas">Citas</a></td>
            <td><a href="/pacientes/create" target="_blank">Nuevo Paciente</a></td>
        </tr>
    </tfoot>
</table>
{% endblock %}