{% extends "base.html" %}
{% block titulo %} Nuevo Paciente {% endblock %}
{% block contenido %}
<section class="container">
    <header>Nuevo Paciente</header>
    <form action="" method="post" class="form">
        <section class="column">
            <article class="input-box">
                <label>Nombre</label>
                <input type="text" name="nombre" placeholder="Nombre">
            </article>
            <article class="input-box">
                <label>Apellido</label>
                <input type="text" name="apellido" placeholder="Apellido">
            </article>
        </section>
        <article class="ti-box">
            <h3>Tipo de Documento</h3>
            <article class="ti-option">
                {% for t in ti %}
                <div class="ti">
                    <input type="radio" id="check-{{ t }}" value="{{ t }}" name="ti">
                    <label for="check-{{ t }}">{{ t }}</label>
                </div>
                {% endfor %}
            </article>
        </article>
        <article class="input-box">
            <label>Numero Identificacion</label>
            <input type="text" name="ni" placeholder="Numero Identificacion">
        </article>
        <article class="input-box">
            <label>Altura</label>
            <input type="text" name="altura" placeholder="Altura">
        </article>
        <section class="column">
            <article class="es-box">
                <label>RH</label>
                <select name="rh">
                    <option hidden>RH</option>
                    {% for rh in rhs %}
                        <option value="{{ rh }}"> {{ rh }}</option>
                        {% endfor %}
                </select>
            </article>
        </section>
        <button>Guardar</button>
    </form>
</section>
{% endblock %}